* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /*variáveis*/
  --bg-color: #edf2ff;
  --text-color: #00082f;
  --primary-color: #4263eb;
  --primary-color-hover: #364fc7;
}

body.dark-blue {
  --bg-color: #00082f;
  --text-color: #fff;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-hover: #a61e4d;
}

body.dark-pink {
  --bg-color: #1F000B;
  --text-color: #FFF0F6;
  --primary-color: #d6336c;
  --primary-color-hover: #a61e4d;
}

body.green {
  --bg-color: #7ec384;
  --text-color: #3a4a51;
  --primary-color: #3f7856;
  --primary-color-hover: #45625d;
}

body.dark-green {
  --bg-color: #013334;
  --text-color: #d1d0d0;
  --primary-color: #c39f4b;
  --primary-color-hover: #45625d;
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 40px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-hover);
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}